<form class = "form-container" [formGroup]="loginForm" (ngSubmit) = "onSubmit()"> 
    <p class = "logo-show"><i class="fa fa-stack-exchange"></i></p>
    <input  formControlName = "username" class = "custom-input" placeholder="Username"  autocomplete="off">
    <input  formControlName = "password" class = "custom-input text-area-custom" placeholder="Password"  autocomplete="off">
    <nav>
        <ul>
          <li (click) = "onSubmit()">
           Login
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
        <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" (loaded)="sendCaptchaExecuteHere()" site_key="6LdF_yQaAAAAAIzytD7m6wjs5i6ckihJvpIyV1Ld"></re-captcha>
    </nav>
    <nav>
        <ul>
          <li (click) = "onSubmit()">
            Register
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
    </nav>
</form>
