<form method="post" class = "form-container"> 
    <p class = "logo-show"><i class="fa fa-stack-exchange"></i></p>
    <input name = "userid" type="text" id="user-id-input" class = "custom-input" placeholder="Username">
    <input name = "userpass" type="password" id="user-pass-input" class = "custom-input text-area-custom" placeholder="Password">
    <nav>
        <ul>
          <li (click) = "onSubmit()">
            Login
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
    </nav>
    <nav>
        <ul>
          <li (click) = "onSubmit()">
            Register
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
    </nav>
</form>
